{% extends "base.html" %} {% block title %}Translate{% endblock %} {% block
content %}
<h1 align="center" class="mt-2">About Us</h1>
<p class="lead mt-5">
    The Language Decipher is web application that can be utilised for translating from English
    to any other dialect, and vice versa. The problem of language difference has hindered
    effective information communication over the years. There have been difficulties in
    information communication amid countries over the years.</p>
<p class="lead">
    In modern times , language
    interpreters must understand and speak both the language been translated to and verse-visa.
    This traditional approach used for solving the problem of this traditional approach this
    traditional approach used for solving the problem of language differences has not been
    productive and favourable. Also, the teaching of different languages can be difficult due to
    language difference problems.
</p>
<p class="lead">The proposed language decipher uses Google's real-time
    translation API natural language processing with Python programming language to develop
    the application. The most used languages globally (i.e., English, Spanish, Arabic, Hindi,
    French, and Chinese) and local Indian languages were used for the application translation.
    This application can be useful for Tourists for communication purposes, thus allowing them
    to integrate with the local people and access the right information.

</p>

{% endblock %}